@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Libre+Baskerville:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", sans-serif;
}

p,
li,
a,
button {
  font-family: "Roboto Slab", sans-serif;
}

p {
  font-size: 15px;
}

.bg-primary {
  background-color: #250e07;
}

.bg-active {
  background-color: #443734;
}

.text-primary {
  color: #250e07;
}

.showcase {
  background: url("./images/room-1.jpg") no-repeat center/cover;
  height: 400px;
}

.showcase .overlay {
  height: 400px;
}

.showcase .overlay .text {
  background-color: rgba(255, 255, 255, 0.6);
}

.rooms-showcase {
  background: url("./images/room-2.jpg") no-repeat bottom/cover;
  height: 400px;
}

.rooms-showcase .overlay {
  height: 400px;
}

.rooms-showcase .overlay h3 {
  background-color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 1280px) {
  .showcase {
    height: 600px;
  }

  .showcase .overlay {
    height: 600px;
  }

  .rooms-showcase {
    height: 600px;
  }

  .rooms-showcase .overlay {
    height: 600px;
  }
}
